/*Variables*/
:root {
--background-color: black;
--background-image: url("images/leaves.jpg");
--font-color: whitesmoke;
--header-font-color: #76C56D;
--gold-texture-color: #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C;
--big-text-font-color: #76C56D;
--accent-color1: #76C56D;
--accent-color2: #B38728;
}

/*Fonts*/
@font-face {
font-family: "header";
src: url("fonts/header.woff2") format('woff2'), url("fonts/header.woff") format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "body";
src: url("fonts/body.woff2") format('woff2'), url("fonts/body.woff") format('woff');
font-weight: normal;
font-style: normal;
}

/*Website animations*/
@keyframes fade {from{opacity:0;}to{ opacity:1;}}


/*HTML document styling*/
* {
box-sizing: border-box;
}

html {
overflow-x: hidden;
overflow-y: scroll;
scrollbar-color: var(--accent-color1) var(--accent-color2);
}


a {text-decoration: none;}

::-webkit-scrollbar {
width: 3px;
height: 3px;
}

::-webkit-scrollbar-button {
width: 0px;
height: 0px;
}

::-webkit-scrollbar-thumb {
background: var(--accent-color2);
border: 0px none transparent;
border-radius: 0px;
}

::-webkit-scrollbar-track {
background: var(--accent-color1);
border: 0px none transparent;
border-radius: 0px;
}

::-webkit-scrollbar-corner {
background: transparent;
}

::selection {
background: var(--accent-color2);
}

/*Body*/
body{
opacity: 0;
animation: fade ease-in 1;
animation-fill-mode: forwards;
animation-duration: 0.6s;
background-color: black;
background-image: var(--background-image);
background-size: cover;
background-attachment: fixed;
margin:0;
padding:0;
}

/*Header*/
header {
width: 100%;
height: 5em;
line-height: 20px;
background: #e5e1f0;
background-color: black;
position: fixed;
top: 0;
z-index: 2;
}

h1{
text-align:left; 
font-size: 48pt;
font-family: "header";
font-weight: bold;
color: var(--header-font-color);   
background-image: linear-gradient(var(--gold-texture-color));
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-text-fill-color: transparent;
float: left;
padding:15pt;
margin:3% auto;
}

/*Header links*/
.linkbox{
padding-top: 9px;
text-align:right;
padding-right: 10px;
padding-bottom: 5px;
float:right;
}

.link a{
width: 2.5em;
height: 2.5em;
display:inline-block;
border-radius: 2em;
border: 1px solid #BF953F;
background: linear-gradient(to right, var(--gold-texture-color) );
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50);
margin:6% auto;
}

.link a img {
margin-top: 5px;
margin-left: auto;
margin-right: 5px;
margin-bottom: 5px;
}


/*Content boxes*/
.box{
margin-top: 6em;
padding: 0;
width: 100%;
}

.content{
margin: 2em auto 0;
padding: 2em;
text-align: center;
color: var(--font-color);
background-color: black;
}

.content2{
margin: 2em auto 2em ;
padding: 2em;
text-align: center;
border-top: 3pt solid #000;
color: var(--font-color);
border-bottom: 3pt solid #000;
border-image: linear-gradient(to right, transparent, var(--gold-texture-color), transparent);
border-image-slice: 1;
background:linear-gradient(to right, rgba(0,0,0,0.60), rgba(0,0,0,0.80), rgba(0,0,0,0.90),rgba(0,0,0,0.80), rgba(0,0,0,0.60));
}


/*Large Text*/
.bigtext {
font-size: 2em;
margin-top:25px;
padding: 20px;
display:block;
font-family: "header";
font-weight: normal;
font-style: normal; 
color: var(--big-text-font-color);
}

/*Text shadows*/
.content, .content2, .bigtext {
text-shadow: -2px 2px 5px rgba(255,255,255,0.30);
}

/*Dividers*/
.divider {
border-bottom: 2pt solid #000;
border-image: linear-gradient(to right, transparent, var(--gold-texture-color), transparent);
border-image-slice: 1;
}

/*footer*/
footer {
padding: 1em;
text-align: center;
color: var(--font-color);
background-color: black;
}

footer a {color: var(--accent-color1);}

/*Boxes font*/
.content, .content2, footer {
font-size: 20pt;
font-weight: bold;
font-family: "body";
}

/*Images that automatically resize*/
.responsive-img {
width: 70%;
height: auto;
}

/*Lists*/
ul {
list-style-type: none;
}

li img {
display: none;
}

li {
padding: 10px;
margin-left: -40px;
overflow: auto;
}


/*Slideshow*/
.slideshow {
position: relative;
margin-bottom: -65px;
z-index: 1;
}

.slideshow-inner {
position: relative;
overflow: hidden;
}

.slideshow-open:checked + .slideshow-item {
position: static;
opacity: 100;
transition: opacity .5s;
}

.slideshow-item {
position: absolute;
opacity: 0;
}

.slideshow-item img {
display: block;
object-fit: cover;
width: 80%;
height: 200pt;
margin: 0 auto;
}

.slideshow-control {
color: var(--font-color);
cursor: pointer;
display: none;
font-size: 40pt;
height: 40px;
line-height: 35px;
position: absolute;
top: 50%;
cursor: pointer;
transform: translate(0, -50%);
text-align: center;
width: 40px;
z-index: 10;
}

.slideshow-control.prev {
left: .20%;
}

.slideshow-control.next {
right: .20%;
}

#slideshow-1:checked ~ .control-1,
#slideshow-2:checked ~ .control-2,
#slideshow-3:checked ~ .control-3 {
display: block;
}

/*Mobile friendly layout*/
@media all and (min-width:768px) {

.link a {margin:8% auto;}
h1 {margin: 1.5% auto;}

li img {
width: 200pt;
height: 200pt;
float: left;
margin: 0 auto 5px;
object-fit:cover;
display: block;
}

li {
padding: 10px;
overflow: auto;
}

.slideshow-item img {
width: 80%;
height: 300pt;
}

.slideshow-control.prev {
left: 2%;
}

.slideshow-control.next {
right: 2%;
}

}

@media all and (min-width:1024px) { 
h1 {
font-size: 65pt; 
margin: 5pt auto;
padding-top: 20pt;
}

.link a{
margin:5pt auto;
width: 3em;
height: 3em;
}

.link a img {
margin-top: 10px;
margin-left: auto;
margin-right: 9px;
margin-bottom: 10px;
}

.responsive-img {
width: 300pt;
height: auto;
}
}

@media all and (min-width:1440px) { 
.slideshow-item img {
width: 800pt;
height: 350pt;
margin: 0 auto;
}
}